<footer>
	<div>
		{% if page.url == "/" %}
			<p id="two-astrs-p"><a href="/withcolor/">* *</a></p>
		{% else %}
			<p id="two-astrs-p">* *</p>
		{% endif %}

		<ul>
			<li><a href=https://x.com/kamnosta>Xitter</a> <i>Most active, unfortunately</i><br></li>
			<li><a href="https://www.deviantart.com/kamnosta">DA</a> | <a href="https://kamnosta.newgrounds.com/">NG</a> | <a href="https://cara.app/kamnosta">Cara</a> | <a href="/links">&c.</a></li>

			<li><a>Discord: <i>@kamnosta</i></a><br></li>
		</ul>
	</div>
</footer>

<style>
	footer {
		font-size: 80%;
	}

	#two-astrs-p {
		margin-top: 1.5em;
	}
	#two-astrs-p a {
		text-decoration: none;
	}
</style>