{% comment %} argument: doc [, hrefonly] {% endcomment %}

{% assign doc = include.doc %}
{% assign colname = doc.collection %}
{% assign col = site.collections | where: "label", colname | first %}
{% assign thumbnail_include = col.thumbnail_include %}

{% if thumbnail_include != nil %}
	{% capture thumbnailname %}{% include {{ thumbnail_include }} page=doc %}{% endcapture %}
	{% assign thumbnailname = thumbnailname | strip %}
	{% assign href = "/thumbnails/" | append: thumbnailname %}

	{% if include.hrefonly %}
		{{ href }}
	{% else %}
		<img class="thumbnail" alt="{{ thumbnailname }}" src="{{ href }}">
	{% endif %}
{% endif %}