---
layout: base
---

<div class="home">

	{{ content }}
	
	<ul>
		{%- assign target_collections = site.home_cols %}
		{%- if page.target_collections -%}
			{%- assign target_collections = page.target_collections -%}
		{%- endif -%}

		{%- for colname in target_collections -%}
			{%- assign col = site.collections | where: "label", colname | first %}
			<h2 class="col-label"><a class="col-link" href="/{{ col.label }}/">{{ col.label }}</a></h2>

			{%- if col.desc != nil -%}
				<p class="col-desc">{{ col.desc }}</p>
			{%- endif -%}
			<br>

			{%- assign docs = col.docs -%}
			{%- if col.order_reverse -%}
				{%- assign docs = docs | reverse -%}
			{%- endif -%}
			{%- for doc in docs -%}
				<li class="doc-link">
					<a class="post-link" href="{{ doc.url | relative_url }}">
						<h3 style="display:inline">{{ doc.title | escape }}</h3>
						<span class="post-meta">{{ doc.date | date: site.date_format }}</span>
					</a>
				</li>
			{%- endfor -%}
			<br>
		{%- endfor -%}
	</ul>
</div>

<style>
	.post-meta {
		font-size: 90%;
	}

	.col-label {
		margin: 0.25em;
	}
	.col-label a {
		text-decoration: none;
	}
	
	.col-desc {
		font-size: 90%;
		margin: 0;
	}

	.doc-link {
		margin: 0.1em;
	}

	.post-link {
		text-decoration: none;
	}
</style>