---
layout: base
---
<article>

<header>
	<h1 class="post-title">{{ page.title | escape }}</h1>
	<p class="post-meta">
		<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{{ page.date | date: site.date_format }}
		</time>
	</p>
</header>

<div class="content-div" itemprop="articleBody">
	{{ content }}
</div>

<a href="{{ page.url | relative_url }}" hidden></a>
</article>

{% include nav.html %}

<style>
	.post-title, .post-meta {
		margin-top: 0.25em;
		margin-bottom: 0.25em;

		display: inline;
	}

	.content-div img {
		width: 100%;
		max-height: 85vh;
		object-fit: contain;
	}

	.content-div video {
		width: 75%;
		max-height: 63.75vh;
		object-fit: contain;
	}
</style>